{% set navPages = collections.all | eleventyNavigation %}
{% macro renderNavListItem(entry) -%}

 {% if entry.url == page.url %}
        {% set highlight = 'border-gray-600 text-gray-900 focus:border-gray-700 bg-gray-400' %}
        {% set current = 'aria-current="page"' %}
        
      {% else %}
        {% set highlight = 'border-transparent text-gray-700 hover:text-gray-700 hover:border-gray-500 focus:text-gray-700 focus:border-gray-500' %}
        {% set current = '' %}
      {% endif %}


{%- if not entry.children.length  -%}
  <a  class="px-4 py-2 mt-2 text-sm font-semibold bg-transparent rounded-lg dark-mode:bg-transparent dark-mode:hover:bg-gray-600 dark-mode:focus:bg-gray-600 dark-mode:focus:text-white dark-mode:hover:text-white dark-mode:text-gray-200 md:mt-0 md:ml-4 hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:ring {{ highlight }}" href="{{ entry.url | url }}">{{ entry.title }}</a>
  {%- else -%}
  
    {%- if entry.children.length -%}
    <div @click.away="open = false" class="relative" x-data="{ open: false }">
        <button @click="open = !open" 
        class="flex flex-row items-center w-full px-4 py-2 mt-2 text-sm font-semibold text-left bg-transparent rounded-lg dark-mode:bg-transparent dark-mode:focus:text-white dark-mode:hover:text-white dark-mode:focus:bg-gray-600 dark-mode:hover:bg-gray-600 md:w-auto md:inline md:mt-0 md:ml-4 hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:ring {{ highlight }}">
          <span>{{ entry.title }}</span>
          <svg fill="currentColor" viewBox="0 0 20 20" :class="{'rotate-180': open, 'rotate-0': !open}" class="inline w-4 h-4 mt-1 ml-1 transition-transform duration-200 transform md:-mt-1"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
        </button>
        <div x-show="open" x-transition:enter="transition ease-out duration-100" x-transition:enter-start="transform opacity-0 scale-95" x-transition:enter-end="transform opacity-100 scale-100" x-transition:leave="transition ease-in duration-75" x-transition:leave-start="transform opacity-100 scale-100" x-transition:leave-end="transform opacity-0 scale-95" class="absolute right-0 w-full mt-2 origin-top-right rounded-md shadow-lg md:w-48">
          <div class="px-2 py-2 bg-white rounded-md shadow dark-mode:bg-gray-800">
             {%- for child in entry.children %}{{ renderNavListItem(child) }}{% endfor -%}
          </div>
        </div>
      </div>
    {%- endif -%}
  {%- endif -%}
{%- endmacro %}

<div class="bg-gray-200 z-20 p-1 rounded-lg ml-4 mr-4">
  <div x-data="{ open: false }" class="flex flex-col max-w-screen-xl px-4 mx-auto md:items-center md:justify-between md:flex-row md:px-6 lg:px-0">
    <div class="flex flex-row items-center justify-end">
      <button aria-label="menu" class="md:hidden rounded-lg focus:outline-none focus:ring" @click="open = !open">
        <svg fill="currentColor" viewBox="0 0 20 20" class="w-6 h-6">
          <path x-show="!open" fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM9 15a1 1 0 011-1h6a1 1 0 110 2h-6a1 1 0 01-1-1z" clip-rule="evenodd"></path>
          <path x-show="open" fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
        </svg>
      </button>
    </div>
    <nav :class="{'flex': open, 'hidden': !open}" class="leading-3 flex-col flex-grow pb-4 md:pb-0 hidden md:flex md:justify-end md:flex-row">
    {%- for entry in navPages %}{{ renderNavListItem(entry) }}{%- endfor -%}
    </nav>
  </div>
</div>







