<section>
<ul class="spacelog">
	{% for post in postslist | reverse %}
	<li>
		<time datetime="{{ post.date | machineDate }}">
		<small>{{ post.date | readableDate }}</small>
		</time> -- <a href="{{ post.url | url }}">
		{% if post.data.title %}
			{{ post.data.title }}
		{% else %}
			Untitled
		{% endif %}
			</a>
			</li>
	{% endfor %}
	</ul>
		{% if post.data.tags %}
				<p>
					{% for tag in post.data.tags %}
		  			{%- if tag != "post" -%}
		  				{% set tagUrl %}/tags/{{ tag }}/{% endset %}
		  			<a href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
		  			{%- endif -%}
					{% endfor %}
				</p>
			{% endif %}
		</article>
</section>

<h1>Foo</h1>
{% set latest_posts = collections.posts %}
{% for post in latest_posts.slice(0,2) | reverse %}
{{ post.data.title}}
{% endfor %}
