@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {

  .prose a {
    @apply dark:text-gray-400
  }

  .prose a:hover {
    @apply dark:text-gray-500
  }

  .prose h1, .prose h2, .prose h3, .prose h4, .prose h5, .prose h6 .prose hr, .prose strong {
    @apply dark:text-gray-400
  }

  .prose h2, .prose h3, .prose h4 {
    scroll-margin-top: 3.5em;
  }

  .prose pre code {
    @apply overflow-x-auto !important 
  }
  
  .prose .footer-nav a {
    @apply no-underline !important
  }

  blockquote {
    @apply rounded-lg p-4 bg-gray-100 dark:bg-gray-500 border-gray-200 border-l-8 dark:border-gray-700;
  }

  .callout {
    @apply px-8 py-4 mb-4 rounded-lg bg-yellow-50;
  }

  .callout, .callout strong, .callout em {
    @apply dark:bg-gray-400 dark:text-gray-900;
  }

  .callout-blue {
    @apply px-8 py-4 mb-4 rounded-lg bg-blue-50;
  }
  .callout-blue, .callout-blue strong, .callout-blue em {
    @apply dark:text-gray-200 dark:bg-blue-900;
  }

  .callout-pink {
    @apply px-8 py-4 mb-4 rounded-lg bg-pink-50;
  }
  .callout-pink, .callout-pink strong, .callout-pink em {
    @apply dark:text-gray-200 dark:bg-pink-900;
  }

  .callout-green {
    @apply px-8 py-4 mb-4 rounded-lg bg-green-50;
  }
  .callout-green, .callout-green strong, .callout-green em {
    @apply dark:text-gray-200 dark:bg-green-900;
  }

  .warning {
    @apply px-8 py-4 mb-4 rounded-lg bg-red-800 text-gray-50;
  }
  .warning, .warning strong, .warning em {
    @apply text-gray-50 dark:bg-red-900  dark:text-gray-200;
  }

  nav.toc ol li {
    @apply pt-2 !important
  }

  nav.toc ol li li {
    @apply pt-2 ml-4
  }

  nav.toc ol li a {
    @apply text-gray-500
  }
  
  nav.toc ol li a:hover {
    @apply text-gray-900
  }

  .prose ul.contains-task-list {
    @apply list-none -ml-6 !important;
  }

  .prose ul.contains-task-list .task-list-item {
    ::before {
      @apply hidden !important;
    }
  }

  nav ul {
    @apply ml-0 text-gray-500;
   }
   
  nav ul ul {
   @apply ml-6 text-gray-500;
  }

  nav ul li a {
    @apply mb-1 pt-2 pr-4 pb-1 pl-2 w-full block text-gray-500 dark:text-gray-500;
  }

  nav ul li a:hover {
    @apply text-gray-900;
  }

  nav ul li a.active {
    @apply font-semibold;
  }

  .adjust  p img, .adjust img, .adjust p iframe, .adjust iframe, .twitter-tweet {
    @apply ml-auto mr-auto text-center !important
  }

  .adjust  p img:hover, .adjust img:hover {
    @apply shadow-lg 
  }

  a.button {
    @apply bg-green-500 text-gray-50 px-6 py-2
  }

  .text-align-center {
    @apply flex justify-center; 
  }

}